.desing{
    text-align: center;
    
    @media screen and (max-width: 767px){
        padding-top: 40px;
    }

    @media screen and (min-width: 768px){
        padding-top: 60px;
    }

    @media screen and (min-width: 1340px){
        padding-top: 80px;
    }
}
.desing__title{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 38 / 23 * 100%;
    text-align: center;
    color: $black-color;

    @media screen and (min-width: 768px){
        font-size: 33px;
        line-height: 48 / 33 * 100%;
    }

    @media screen and (min-width: 1340px){
        font-size: 43px;
        line-height: 58 / 43 * 100%;
    }
}
.desing__text{
    margin-top: 23px;
    font-style: normal;
    font-size: 14px;
    line-height: 24 / 14 * 100%;
    
    letter-spacing: 0.1em;
    color: #a0a0a0;
}
.desing__link{
    margin-top: 23px;
    display: block;

    font-style: normal;
    font-size: 13px;
    line-height: 21 / 13 * 100%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $black-color;
    transition: color 300ms ease-in-out;

    &:hover, &:focus{
        color: #a0a0a0;
    }
}
.desing__content{

    @media screen and (max-width: 767px){
        margin-top: 41px;
    }

    @media screen and (min-width: 768px){
        margin-top: 61px;
    }

    @media screen and (min-width: 1340px){
        margin-top: 81px;
    }
}
.desing__list{

    @media screen and (min-width: 768px){
        display: flex;
    } 
}
.desing__item{}
.desing__subtitle{
    margin-top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 26 / 23 * 100%;
    color: $black-color;

    @media screen and (min-width: 768px){
        margin-top: 48px;
        font-size: 27px;
        line-height: 30 / 27 * 100%;
    }
}
.desing-card__link{}