.desing{
    text-align: center;
    
    @media screen and (max-width: 767px){
        padding-top: 40px;
    }

    @media screen and (min-width: 768px){
        padding-top: 60px;
    }

    @media screen and (min-width: 1340px){
        padding-top: 80px;
    }
}
.desing__title{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 38 / 23 * 100%;
    text-align: center;
    color: $black-color;

    @media screen and (min-width: 768px){
        font-size: 33px;
        line-height: 48 / 33 * 100%;
    }

    @media screen and (min-width: 1340px){
        font-size: 43px;
        line-height: 58 / 43 * 100%;
    }
}
.desing__text{
    margin-top: 23px;
    font-style: normal;
    font-size: 14px;
    line-height: 24 / 14 * 100%;
    
    letter-spacing: 0.1em;
    color: #a0a0a0;
}
.desing__link{
    margin-top: 23px;
    display: block;

    font-style: normal;
    font-size: 13px;
    line-height: 21 / 13 * 100%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $black-color;
    transition: color 300ms ease-in-out;

    &:hover, &:focus{
        color: #a0a0a0;
    }
}
.desing__content{

    @media screen and (max-width: 767px){
        margin-top: 41px;
    }

    @media screen and (min-width: 768px){
        margin-top: 61px;
    }

    @media screen and (min-width: 1340px){
        margin-top: 81px;
    }
}
.desing__list{

    @media screen and (min-width: 768px){
        display: flex;
    } 
}
.desing__item{

    @media screen and (max-width: 767px){

        &:not(:last-child){
            margin-bottom: 25px;
        }
    }

    @media screen and (min-width: 768px){

        &:not(:last-child){
            margin-right: 25px;
        }
    }
}
// ==========================================
.desing-card__link{
    display: block;
}
.desing-card__overlay{
    position: relative;
    overflow: hidden;   
}
.desing-card__out{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 140, 72, .6);
    opacity: 1;
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
}
.desing-card__link:hover .desing-card__out,
.desing-card__link:focus .desing-card__out{
    transform: translateX(0);
}
.desing-card__text{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22 / 18 * 100%;
    color: $white-color;
}
// =========================================
.desing-div__subtitle{
    padding-top: 28px;

    @media screen and (min-width: 768px){
        padding-top: 38px;
    }

    @media screen and (min-width: 1340px){
        padding-top: 48px;
    }
}
.desing__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 26 / 23 * 100%;
    color: $black-color;

    @media screen and (min-width: 768px){
        font-size: 27px;
        line-height: 30 / 27 * 100%;
    }
}
.desing-div__sublink{
    margin-top: 23px;
}
.desing__sublink{
    font-style: normal;
    font-size: 13px;
    line-height: 15 / 13 * 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $black-color;

    transition: color 300ms ease-in-out;

    @media screen and (min-width: 1340px){

        &:hover, &:focus{
            color: #a0a0a0;
        }
    }
}