.footer{
    padding-top: 47px;
    padding-bottom: 54px;
    background: #f9f9f9;

    @media screen and (min-width: 768px){
        padding-top: 67px;
        padding-bottom: 74px;
    }

    @media screen and (min-width: 1340px){
        padding-top: 77px;
        padding-bottom: 84px;
    }

    & > .container{
        position: relative;
    }
}
.footer__content{
    
    @media screen and (min-width: 768px){
        display: flex;
    }
}
.footer__list{
    min-width: 220px;

    @media screen and (min-width: 768px){
        min-width: 185px;
    }

    @media screen and (min-width: 1340px){
        min-width: 160px;
    }
}
.footer__item{

    &:not(:last-child){
        margin-bottom: 24px;
    }

    @media screen and (min-width: 768px){
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 1340px){
        &:not(:last-child){
            margin-bottom: 16px;
        }
    }
}
.footer__link{
    font-style: normal;
    font-size: 28px;
    line-height: 30 / 28 * 100%;
    color: $black-color;
    transition: color 300ms ease-in-out;

    &:hover{
        color: $gray-color;
    }

    @media screen and (min-width: 768px){
        font-size: 26px;
        line-height: 28 / 26 * 100%;
    }

    @media screen and (min-width: 1340px){
        font-size: 22px;
        line-height: 24 / 22 * 100%;
    }
}
.footer__info{

    @media screen and (max-width: 767px){
        margin-top: 40px;
    }

    @media screen and (min-width: 768px){
        margin-left: 24px;
    }
}
.footer__title{
    margin-bottom: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 34 / 32 * 100%;
    color: $black-color;
    text-align: center;

    @media screen and (min-width: 768px){
        font-size: 28px;
        line-height: 30 / 28 * 100%;
        text-align: start;
    }

    @media screen and (min-width: 1340px){
        font-size: 22px;
        line-height: 24 / 22 * 100%;
    }
}
.footer__text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16 / 14 * 100%;
    letter-spacing: 0.1em;
    color: $gray-color;

    position: relative;

    @media screen and (max-width: 767px){
        text-align: center;
    }
    
    @media screen and (min-width: 768px){
        max-width: 378px;

        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 320px;
            height: 1px;
            background: $black-color;
            top: 151px;
            left: 0;
        }
    }
}
.footer__goup{
    position: absolute;
    top: 0;
    right: 11px;
}
.footer__btn{
    padding: 22px 30px 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16 / 15 * 100%;
    letter-spacing: 0.1em;
    color: $white-color;
    text-transform: uppercase;

    background: $black-color;
    cursor: pointer;
    transition: background 300ms linear, border-radius 300ms linear;

    &:hover{
        background: rgba(0, 0, 0, .8);
        border-radius: 50%;
    }
}