.inspiration{
    max-width: 1440px;
    max-height: 504px;
    background-color: $background-color;
    background-image: url(../images/center.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

    padding-top: 100px;
    padding-bottom: 115px;

    @media screen and (min-width: 768px){
        padding-top: 134px;
        padding-bottom: 150px;
    }

    @media screen and (min-width: 1340px){
        padding-top: 174px;
        padding-bottom: 185px;
    }
}
.inspiratin__content{
    text-align: center;
}
.inspiration__title{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40 / 36 * 100%;
    color: $white-color;

    @media screen and (min-width: 768px){
        font-size: 56px;
        line-height: 60 / 56 * 100%;
    }

    @media screen and (min-width: 1340px){
        font-size: 66px;
        line-height: 70 / 66 * 100%;
    }
}
.inspiration__text{
    margin-top: 14px;
    font-style: normal;
    font-size: 14px;
    line-height: 16 / 14 * 100%;
    letter-spacing: 0.08em;
    color: $white-color;
}
.inspiration__button-content{
    margin-top: 30px;
}
.inspiratin__button{
    padding-bottom: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15 / 13 * 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white-color;
    cursor: pointer;
    position: relative;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1340px){
        
        &::after{
            content: '';
            display: block;
            width: 0%;
            height: 1px;
            position: absolute;
            background: currentColor;
            left: 0;
            bottom: 0;
            transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover::after{
            width: 100%;
        }
    }
}